.form_space{
    margin: auto;
    width: 25%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  } 
  .main_div{
      height: 760px;
      background-color: rgba(119, 136, 153, 0.611);
    
  }